.Settings {
  position: relative;
  display: grid;
  grid-template-columns: 18rem auto 18rem;
  gap: 1rem;
  .lang {
    background-color: rgba(255, 255, 255, 0.8);
    padding: 1em;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    > h1 {
      color: var(--primary-color);
      text-align: center;
      margin-bottom: 2em;
      padding-top: 2em;
      font-size: 1.5em;
    }
    .langButton {
      margin-bottom: 1em;
      font-size: 1.1em;
    }
  }
}
