.Post {
  display: flex;
  flex-direction: column;
  padding: 1rem;
  background-color: #f3f3f3;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
  border-radius: 1rem;
  gap: 1rem;
  .likes {
    font-size: 14px;
    color: var(--tertiary-color);
  }
  > img {
    width: 100%;
    max-height: 20rem;
    object-fit: cover;
    border-radius: 0.5rem;
  }
  .postReact {
    display: flex;
    align-items: flex-start;
    gap: 1.5rem;
    > svg {
      font-size: 1.5rem;
      color: var(--tertiary-color);
      cursor: pointer;
      color: rgb(37, 27, 27);
      transition: all 0.3s ease;
      &:hover {
        color: var(--primary-color);
        transform: rotate(-15deg);
      }
      &.fa-heart-circle-check {
        color: var(--primary-color);
      }
    }
  }
}
