.ProfileCard {
  border-radius: 1.5rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  position: relative;
  gap: 1rem;
  overflow-x: clip;
  background-color: #f3f3f3;
  -webkit-box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.2);
}

.ProfileCard > span {
  font-weight: bold;
  color: var(--primary-color);
  margin-bottom: 1rem;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  cursor: pointer;
}

.ProfileCard .ProfileImages {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.ProfileCard .ProfileImages > img:nth-of-type(1) {
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
  min-height: 10rem;
  max-height: 20rem;
  border-radius: 1.5rem 1.5rem 0 0;
}

.ProfileCard .ProfileImages > img:nth-of-type(2) {
  width: 6rem;
  height: 6rem;
  border-radius: 60px;
  position: absolute;
  bottom: -3rem;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
  -webkit-box-shadow: 0px 4px 17px 2px rgba(0, 0, 0, 0.25);
          box-shadow: 0px 4px 17px 2px rgba(0, 0, 0, 0.25);
}

.ProfileCard .ProfileName {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 3rem;
  gap: 10px;
}

.ProfileCard .ProfileName > span:nth-of-type(1) {
  font-weight: bold;
  font-size: 1.2em;
  color: var(--primary-color);
}

.ProfileCard .ProfileName > span:nth-of-type(2) {
  font-style: italic;
}

.ProfileCard .followStatus {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 0.75rem;
}

.ProfileCard .followStatus > hr {
  width: 85%;
  border: 1px solid var(--secondary-color);
}

.ProfileCard .followStatus > div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 1rem;
  width: 80%;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.ProfileCard .followStatus .follow {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 0.4rem;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.ProfileCard .followStatus .follow > span:nth-of-type(1) {
  font-weight: bold;
}

.ProfileCard .followStatus .follow > span:nth-of-type(2) {
  color: var(--primary-color);
  font-size: 1rem;
  font-style: italic;
}

.ProfileCard .followStatus .vl {
  height: 120%;
  border-left: 1px solid var(--secondary-color);
}

@media (max-width: 1023px) {
  .ProfileCard {
    width: 100%;
  }
  .ProfileCard .ProfileImages > img:nth-of-type(1) {
    min-height: 0;
    max-height: 200px;
  }
  .ProfileCard .ProfileImages > img:nth-of-type(2) {
    width: 150px;
    height: 150px;
    bottom: -75px;
  }
  .ProfileCard .ProfileName {
    margin-top: 75px;
  }
}
/*# sourceMappingURL=profileCard.css.map */