.Footer {
  width: 100%;
  position: fixed;
  top: 96.5%;
  background-color: #f3f3f3;
  gap: 0.3em;
  height: 3.5%;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 20px 20px 0px 0px;
  box-shadow: 0 0 10px var(--primary-color);
  > a {
    color: var(--primary-color);
    text-decoration: none;
  }
}
