@import "index.scss";

.App {
  overflow: hidden;
  color: var(--black-color);
  background-color: #f3f3f3;
  padding: 1rem;
  .blur {
    position: absolute;
    width: 22rem;
    height: 14rem;
    border-radius: 50%;
    background-color: var(--primary-color);
    filter: blur(72px);
  }
  .btn {
    display: flex;
    align-items: center;
    justify-content: center;
    border: none;
    border-radius: 0.5rem;
    background-color: white;
    align-self: center;
    transition: all 0.3s ease;
    &:hover {
      cursor: pointer;
      letter-spacing: 1px;
      transform: scale(1.1);
      box-shadow: 0 0 40px var(--secondary-color);
    }
  }
}

::-webkit-scrollbar {
  display: none;
}
